@page
@model ErrorModel
@{
    ViewData["Title"] = "Lỗi";
}

<h1 class="text-danger">Lỗi.</h1>
<h2 class="text-danger">Đã xảy ra lỗi khi xử lý yêu cầu của bạn.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>ID Yêu cầu:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Chế độ Phát triển</h3>
<p>
    Đổi sang <strong>Phát triển</strong> để xem thông tin chi tiết về lỗi đã xảy ra.
</p>